<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{common::head('Home')}"></head>
  <script type="text/javascript">
	  $(document).ready(function(){
		$("input[id^='item_']").change(function(){
			var count = $(this).parents("tr").children("td[id^='count_']").children("p").html();
			var price = $(this).parents("tr").children("td[id^='price_']").children("p").html();
			var itemTotalPrice = count * price;
			var totalPrice = parseInt($("#totalPrice").html());
			if ($(this).prop("checked")) {
				totalPrice += itemTotalPrice
			} else {
				totalPrice -= itemTotalPrice
			}
			$("#totalPrice").html(totalPrice);
			$("#accountPrice").val(totalPrice);
		});
	  });
  </script>
  <body>
  	  <div th:replace="~{common::header('Seckill System')}"></div>
      <div class="content" style="height: auto; text-align: center">
      	<h1>购物车</h1>
      	<br />
      	<div th:if="${cartViewModel} == null" style="text-align: center; width: 70%; margin: 0 auto;">
      		<p th:text="${errorMsg}"></p>
      	</div>
      	<form th:action="@{/item/createOrder}" method="post">
      	<div th:if="${cartViewModel} != null" style="text-align: center; width: 70%; margin: 0 auto;">
      		<div th:each="item,stat : ${cartViewModel.items}" th:object="${item}" style="margin-bottom: 20px;">
	      		<table class="goods">
	      			<tr>
	      				<td style="width: 100px;">
	      					<input type="checkbox" th:attr="id=|item_${stat.count}|" name="itemIds" th:value="${item.itemViewModel.id}"/>
	      				</td>
	      				<td style="width: 100px;">
	      					<p th:text="${item.itemViewModel.name}"></p>
	      				</td>
	      				<td style="width: 100px;">
	      					<img th:src="@{${item.itemViewModel.img}}" width="80px" height="100px"/>
	      				</td>
	      				<td style="width: 100px;" th:attr="id=|count_${stat.count}|">
	      					<p th:text="${item.count}"></p>
	      					<input type="hidden" th:value="${item.count}" name="counts"/>
	      				</td>
	      				<td style="width: 100px;" th:attr="id=|price_${stat.count}|">
	      					<p th:text="${item.itemViewModel.price}"></p>
	      				</td>
	      				<td style="width: 100px;">
	      					<input type="button" value="删除" />
	      				</td>
	      			</tr>
	      		</table>
	      		<br />
	      		<hr />
      		</div>
      		<br />
      		
      		<div style="height:50px; text-align: right;">
      			总价：<span id="totalPrice" th:text="0"></span>元
      			<input type="hidden" value="0" name="accountPrice" id="accountPrice"/>
      		</div>
      		<div style="height:50px; text-align: right;">
      			<input type="submit" value="购买" />
      		</div>
      	</div>
      	</form>
      </div>
      <div th:replace="~{common::footer}"></div>
  </body>
</html> 