<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
  	<style type="text/css">
  		body {
			margin: 0px;
			padding: 0px;
		}
		
		* {
			margin: 0px;
			padding: 0px;
		}
		
		.content {
			margin: 0 auto;
			width:80%;
			height: 547px;
		}
  	</style>
  </head>
  <body>
      <div class="content">
      	<div style="text-align: left; width: 100%;">
      		<h2 style="width: 100%; text-align: center;">密码邮件</h2>
      		你好，<span th:text="${username}"></span>:<br>
      		&nbsp;&nbsp;你的密码为：<span th:text="${code}"></span>
      	</div>
      </div>
      <div th:replace="~{common::footer}"></div>
  </body>
</html> 